* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: 'Moderat-Regular';
    src: url('/assets/fonts/Moderat-Regular.woff2') format('woff2'),
        url('/assets/fonts/Moderat-Regular.woff') format('woff'),
        url('/assets/fonts/Moderat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

/* General */

html {
    overflow-x: hidden;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Moderat-Regular', sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    caret-color: transparent;
}

/* Titulares */
h1 {
    font-family: 'Moderat-Regular', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 82px;
    line-height: 1.025em;
    padding-bottom: 24px;
    max-width: 90%;
    width: 100%;
}

h2 {
    color: #2B2B2B;
    font-size: 45px;
    font-family: 'Moderat-Regular', sans-serif;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: -0.5px;
    padding-bottom: 24px;
}


p {
    color: #676767;
    font-family: "Moderat", Sans-serif;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 16px;
}

span.section {
    display: block;
    color: #9EA3A6;
    font-family: "Moderat", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}

#page-wrapper section {
    padding: 40px 0;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;
}

.intro {
    max-width: 800px;
}

/* Spacer */

.block-spacer-xs {
    height: 30px;
}

.block-spacer-s {
    height: 40px;
}

.block-spacer-m {
    height: 60px;
}

.block-spacer-l {
    height: 80px;
}

/* Header */

.logo img {
    width: 110px;
    height: 55px;
    transition: 1s;
    cursor: pointer;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}

#header.nav-up {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 24px;
    transition: 0.3s;
    gap: 24px;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

#header.nav-up #header-nav {
    padding: 20px 40px 20px;
}

.full-menu {
    display: none;
    position: fixed;
    z-index: 100000;
}

#header-nav .desktop-menu ul {
    justify-content: space-between;
    display: flex;
    padding: 20px 0;
}

#header-nav .desktop-menu ul li {
    list-style: none;
}

#header-nav .desktop-menu ul li a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Moderat-Bold', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #202020;
    padding: 10px;
    border-bottom: 2px solid transparent;
    /* Importante para que el espacio del borde ya esté reservado */
    transition: border-bottom 0.3s ease;
}

#header-nav .desktop-menu ul li a:hover {
    border-bottom: 2px solid #FB8D64;
    width: 100%;
}

/* Hero Slider */

section.hero {
    position: relative;
    height: 1050px;
    padding: 0 !important;
    overflow: hidden;
    padding-top: 105px !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    pointer-events: none;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

.hero-container img {
    width: 100%;
    height: 1050px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.slick-dots {
    z-index: 1000;
    height: 20px;
    bottom: 30px !important;
}

.slick-dots li button:before {
    font-size: 12px !important;
    color: #fff !important;
}

.hero-text {
    position: absolute;
    z-index: 100;
    width: 100%;
}

section.hero .hero-content p {
    font-size: 22px;
    color: #fff;
    padding-bottom: 40px;
}

a.button {
    font-family: "Moderat", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #FB8D64;
    border-radius: 5px 5px 5px 5px;
    padding: 16px 60px 16px 60px;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

a.button:hover {
    background-color: #F37447;
}

/* Values */

section.values .list-values {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 4fr));
}

section.values .list-values .item-value {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

section.values .list-values h2 {
    color: #2B2B2B;
    font-family: "Moderat", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-bottom: 0;
}

section.values .list-values img {
    width: auto;
    min-height: 58px;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.uk-slider-items {
    will-change: transform;
    position: relative;
    touch-action: pan-y;
}

/* Proyectos */
.carousel-proyectos {
    position: relative;
}

.carousel-proyectos svg polyline {
    stroke: white !important;
    stroke-width: 2px !important;
    width: 40px;
    height: 40px;
}

.carousel-proyectos svg {
    width: 40px;
    height: 40px;
}

.proyecto {
    position: relative;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.proyecto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
    z-index: 0;
}

.proyecto:hover img {
    transform: scale(1.25);
}

.proyecto .overlay {
    opacity: 0.15;
}

.proyecto .content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 35px;
    text-align: left;
    color: #fff;
    z-index: 10;
}

.proyecto h3 {
    color: #FFFFFF;
    font-family: 'Moderat-Regular', sans-serif;
    font-size: 33px;
    line-height: 1em;
    font-weight: 700;
}

/* Banner */

.banner {
    width: 100%;
    height: 910px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Equipo */

.carousel-equipo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(314px, 3fr));
    gap: 24px 16px;
}

.perfil {
    display: flex;
    flex-direction: column;
}

.perfil .imagen {
    position: relative;
    height: 480px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.perfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
    z-index: 0;
}

.perfil:hover img {
    transform: scale(1.2);
}

.perfil .content {
    padding: 20px 0;
}

.perfil .content h3 {
    font-size: 24px;
    padding-bottom: 8px;
    font-weight: 600;
}

.perfil .content span.position {
    color: #676767;
    font-family: "Moderat", Sans-serif;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 16px;
}

/* Contactar */

.contactar h2,
.contactar p {
    color: #fff;
}

.contactar p {
    font-size: 22px;
    color: #fff;
    padding-bottom: 40px;
}

.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.container-contact .button {
    margin: 0 auto;
}

.container-contact a.button {
    background-color: #fff;
    color: #4A3024;
    font-weight: 600;
    font-size: 18px;
}

/* Footer */

footer {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.5em 0 1em;
}

footer .footer-nav {
    display: flex;
    justify-content: space-between;
}

footer .footer-nav .info-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer .footer-nav .info-footer .links {
    display: flex;
    gap: 16px;
}

footer .footer-nav .info-footer .links img {
    width: 40px;
    height: 40px;
}


@media only screen and (max-width: 980px) {

    /* Header */

    .desktop-menu {
        display: none;
    }

    /* Mobile */

    .full-menu {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4A3024;
        text-align: left;
        transition: all 300ms ease-in-out;
        opacity: 0.95 !important;
        display: none;
    }

    .full-menu nav li a {
        font-size: 32px;
        color: #fff;
        font-weight: 100;
        opacity: 1;
        position: relative;
        padding: 10px 20px;
        text-decoration: none;
        display: block;
        transition: 0.2s;
        text-align: center;
    }


    #hamburguer.mobile {
        display: block;
        position: fixed;
        right: 38px;
        top: 28px;
        width: 3em;
        height: 3em;
        z-index: 1000000;
        border-radius: 8px 0 0 8px;
        cursor: pointer;
        background-color: #4A3024;
        border-radius: 50%;
    }

    #hamburguer.mobile .lines {
        background-color: #fff;
        width: 58%;
        height: 2px;
        margin-top: 4px;
        transition: all 300ms ease-in-out;
        border-radius: 5px;
        left: 0;
        right: 0;
        position: relative;
        top: 14px;
        left: 10px;
    }

    #hamburguer.close-hamburguer .lines {
        background-color: #fff;
        cursor: pointer;
        margin: 7px 0;
    }

    #hamburguer.close-hamburguer .line-top {
        transform: translateY(180%) rotate(45deg);
    }

    #hamburguer.close-hamburguer .line-mid {
        display: none;
    }

    #hamburguer.close-hamburguer .line-bottom {
        transform: translateY(-300%) rotate(135deg);
    }

    /* Hero Slider */

    section.hero {
        height: 680px;
    }

    .hero-container img {
        height: 680px;
    }

    /* Global */

    h1 {
        font-size: 60px;
        letter-spacing: -1.5px;
    }

    h2 {
        font-size: 35px;
        padding-bottom: 20px;
        letter-spacing: -1.5px;
    }

    #page-wrapper section {
        padding: 30px 0;
    }

    span.section {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .block-spacer-m {
        height: 40px;
    }

    .block-spacer-s {
        height: 30px;
    }

    /* Values */

    section.values .list-values h2 {
        font-size: 22px;
    }

    /* Proyecto  */

    .proyecto {
        height: 480px;
    }

    .proyecto h3 {
        font-size: 28px;
    }

    /* Banner  */

    .banner {
        height: 500px;
    }
}


@media only screen and (max-width: 480px) {

    /* Mobile */

    #hamburguer.mobile {
        top: 12px;
        right: 20px;
    }

    /* Header */

    #header-nav {
        padding: 12px 20px;
    }

    #header.nav-up #header-nav {
        padding: 12px 20px;
    }

    section.hero {
        padding-top: 70px !important;
    }

    .logo img {
        width: auto;
        height: 48px;
    }

    /* Global */

    .container {
        padding: 0 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
        padding-bottom: 16px;
    }

    p {
        font-size: 18px;
        line-height: 23px;
    }

    #page-wrapper section {
        padding: 20px 0;
    }

    section#empresa {
        padding-top: 30px;
    }

    span.section {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .block-spacer-m {
        height: 15px;
    }

    .block-spacer-s {
        height: 15px;
    }

    .block-spacer-xs {
        height: 10px;
    }

    /* Hero Slider */

    section.hero {
        height: 480px;
    }

    .hero-container img {
        height: 480px;
    }

    /* Values */

    section.values .list-values .item-value {
        gap: 10px;
    }

    /* Proyecto */

    .proyecto {
        height: 340px;
    }

    .proyecto h3 {
        font-size: 26px;
    }

    .proyecto .content {
        padding: 20px;
    }

    /* Banner */
    .banner {
        height: 300px;
    }

    /* Equipo */

    .carousel-equipo {
        gap: 16px;
    }

    .perfil .content {
        padding: 10px 0;
    }

    .perfil:hover img {
        transform: none;
    }

    .perfil .imagen {
        height: 400px;
    }

    .perfil .content span.position {
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 16px;
    }

    .perfil .content h3 {
        font-size: 22px;
        padding-bottom: 4px;
    }

    /* Contactar */

    .contactar p {
        font-size: 18px;
        padding-bottom: 18px;
    }

    a.button {
        padding: 12px 60px 12px 60px;
    }

    /* Footer */

    footer .footer-nav .info-footer .links img {
        width: 28px;
        height: 28px;
    }
}